@charset "UTF-8";

* {
            color: #222;
            text-decoration: none;
            padding: 0;
            margin: 0;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;

        }

        /*

        body { ..... }
        img  { ..... }

        */

        a:link {
            color: #444;
        }

        a:visited {
            color: #555;
        }

        a:hover {
            color: rgba(68, 68, 68, 0.5);
        }

        a:active {
            color: rgba(68, 68, 68, 0.7);
        }

        ul {
            list-style: none;
        }

        .flexContainer {
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: -o-flex;
            display: flex;
        }


        div#wrap {
            padding: 20px;
            margin: 20px auto;
            border: 1px solid #000;
            width: 700px;
            /*text-align: center;*/
        }
