@charset "utf-8";

body {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-attachment: fixed;
}
